/* color variable section */
:root {
  --dark-shaded-bg-color: #282828;
  --primary-shaded-bg-color: #3ea6ff;
  --dark-shaded-text-color: #717171;
}
/* color variable section */

.navbarBar {
  height: 35px;
  padding: 40px 20px;
  z-index: 2;
}

.nav__input {
  width: 90%;
  padding: 0px 10px;
  height: 40px;
  border: 1px solid #464646;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.input-data {
  width: 100%;
  padding-left: 10px;
  border-bottom: 1px solid white;
}

.input-data:focus {
  outline: none;
}

.nav__search__btn {
  padding: 10px;
  background-color: rgb(57, 57, 57);
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}


@media screen and (max-width: 500px){
  .desktop-view{
    display: none !important;
  }
}
@media screen and (min-width: 501px) {
  .mobile-view{
    display: none !important;
  }
}

.mainContent__container {
  /* width: 78vw; */
  height: 90vh;
  top: 90px;
  left: 250px;
  overflow-y: auto;
}
.mainContent__container--sidebarHidden{
    /* width: 100vw; */
    height: 90vh;
    top: 90px;
    left: 0px;
    overflow-y: auto;
}

/*  Home vide card title Video */
.video-title {
  font-size: 13px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/*  Home vide card title Video */


/* comments */
/* comments */



/* search result video card */
.color-aaa {
  color: #aaa;
}

.channel__icon-sm {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background-color: beige; */
}

/* search result video card */



/* channel details page  */
.channel__banner {
  height: 200px;
  width: 100%;
}

.channel__banner>span {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* channel details page  */


/* Category section */
.categories__bar {
  overflow-x: scroll;
  width: 78vw;
}

/* Category section */




.notification__count {
  top: -9px;
  left: 12px;
  padding: 2px 3px;
  font-size: 12px;
}



/* dropdown pop-up */
.dropdown__popup {
  width: 250px;
  height: fit-content;
  background-color: var(--dark-shaded-bg-color) !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* dropdown pop-up */

/* General classes */
.bgColor-transparent {
  background-color: transparent;
}

.text-overflow-ell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cursor__not_allowed {
  cursor: not-allowed;
}

.cursor__pointer {
  cursor: pointer;
}

.box-shadow-3{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box-shadow-89{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.box-shadow-52{
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.box-shadow-21{
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.dark-shaded_bg{
  background-color: var(--dark-shaded-bg-color);
}
.dark-shaded_text {
  color: var(--dark-shaded-text-color);
}
.primary-shaded_bg {
  background-color: var(--primary-shaded-bg-color);
}
/* General classes */

/* Skeleton card */
.skeletonCardContainer {
  max-width: 650px;
}

/* Skeleton card */


/* comment section */
.commentInput input {
  outline: 0;
  border-bottom: 1px solid antiquewhite;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.commentInput input:focus {
  outline: none;
  /* border-bottom: 2px solid antiquewhite; */
}
.cancelBtn:hover{
  background-color: var(--dark-shaded-bg-color);
}
/* comment section */

.main_layout__container{
  box-sizing: border-box;
}

.horizontal_video_card_container{
  width: 99%;
}