.App {
  text-align: center;
}

/* bootstrap customize css */
.form-control:focus {
  box-shadow: none;
}
.nav-link:hover, .nav-link:active{
  font-size: 18px;
  transition: 0.5s ease;
  color: red !important;
  padding: 6px 0px;
}
.control-over-flow{
    height: 70px;
    font-size: 50px;
    font-weight: 800;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
/* bootstrap customize css */